#navbar {
  overflow: auto;
  list-style: none;
}

#navbar ul{
  list-style: none;
  float:left;
  
}

#navbar li{
  text-decoration: none;
  float:right;
  list-style: none;
}

#navbar li:hover{
  color:black;
}

#navbar a{
  padding:20px;
  text-align: center;
  
}

#photo{
  float: right;
  
  background: url('./assets/pic.jpeg');
}
#home{
  padding-top: 80px;
  text-align: left;
  display: grid;
  grid-template-columns: 650px 650px
}

#title{
  font-size: 12px;
}

#text{
  font-size: 36px;

}
#explorebutton{
  background-color: orange;
  color:white;
  size: 100px;

}

.verticalLine {
  border-left: thin solid #ff0000;
  padding:20px;
}


#subbutton{
  float:right;
  
}
#sub{
  display: grid;
  grid-template-columns: 650px 650px;
  font-size: 50px;
}

#subinput{
  box-sizing: 30px;
}

#boxes{
  display:grid;
  grid-template-columns: 150px 150px 150px;
  height: 300px
}

#web{
  background-color: beige;
  border-top-color: #ff0000;
  margin-top: 30px;
  
}

#app{
  background-color: aqua;
  border-top: red;
  margin-top: 10px;
  
}


#dev{
  background-color: bisque;
  margin-top:20ox
}

