body{
  font-family: 'Roboto', sans-serif;
}
p{
  color: black;
}
#logo{
  background: url('./assets/pic.jpeg');
  height: 40px;
  width: 50px
}
#navbar {
  overflow: auto;
  list-style: none;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:gray

}

#navbar ul{
  list-style: none;
  float:left;
  padding-left:4px;
 
  
}

#navbar li{
  
  float:right;
  color: gray;
  
  
}

#navbar a:hover{
  color:black;
}

#navbar a{
  padding:20px;
  text-align: center;
  text-decoration: none;
  color: gray;
}

#photo{
  float: right;
  
  background: url('./assets/pic.jpeg');
}
#home{
  padding-top: 50px;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  padding-left: 30px;
  

}

#title{
  font-size: 12px;
  color: lightgrey;
  
}

#text{
  font-size: 48px;
  margin: 0px;
}
#explorebutton{
  background-color: orange;
  color:white;
  font-size: 18px;
  height:65px;
  width:250px;
  border: none;
  cursor: pointer;

}

.verticalLine {
  border-left: thin solid grey;
  padding:20px;
  margin-left: 30px;
}


.subbutton{
  float:center;
  background-color: black;
  color: white;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 150px;
  height: 56px;
  cursor: pointer;
}


#sub{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-size: 50px;
}

#subinput{
  height: 50px;
  box-sizing: 50px;
  float:center;
  width: 300px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

#boxes{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 350px;

  
}

#boxes p{
  font-size: 11px;
}

#boxes h3{
  font-size: 18px;
}

#web{
  background-color:whitesmoke;
  margin-top:90px;
  padding-left:10px;
  width: 92%;
  border-top: 3px solid red;
  color:red

}

#app{
  background-color: whitesmoke;
  
  margin-top: 150px;
  padding-left:10px;
  width: 92%;
  border-top: 3px solid blue;
  color: blue;
}


#dev{
  background-color:whitesmoke;
  margin-top:50px;
  padding-left:10px;
  width: 92%;
  border-top: 3px solid green;
  color: green;
}

.arrowbw{
  float: right;
  position: relative;
  font-size: 24px;
  color: red;
  top:40px;

}

.arrowba{
  float: right;
  position: relative;
  font-size: 24px;
  color: blue;
  
}

.arrowbd{
  float: right;
  position: relative;
  font-size: 24px;
  color: green;
  top:50px;

}

#boxicon{
  font-size: 24px;
  
}


#port{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  padding:75px;
}

#thisway{

  float:left;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color:white;
  background-color: black;
  height: 50px;
  width: 100px;
  cursor: pointer;

}

#seemore{
  float:right;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color:white;
  background-color: black;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

.porpic1{
  background-color: black;
  cursor: pointer;
  width: 250px;
  height: 250px;
  padding: 50px;
}

.leftrightport{
  padding:20px
}

.teampic{
  background-color: black;
  background-image: url("./assets/pic.jpeg");
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}

#teams{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 300px 300px;
  
}


#services{
  display: grid;
  grid-template-columns: 600px 600px;
  text-decoration: none;
  list-style: none;
}

#services button{
  cursor: pointer;
}
#services li{
  text-decoration: none;
  padding:34px;
  text-align: left;
}
#servicelist{
  float:left;
  
}

#services button{
  background: none;
  font-size: 40px;
  border: none;
}

#services p{
  text-align: left;
  font-size: 30px;
}
.aboutpage{
  font-size: 36px;
  text-align: left;
}

@media (max-width: 600px) {
  #home{
    display: grid;
    grid-template-columns: 250px;
  }
  #navbar {
    font-size: 12px;
    position: relative;
    overflow: hidden;
    
  }

  #navbar a{
    padding:10px;
  }

  .verticalLine {
    border-left: thin solid grey;
    padding:10px;
    margin-left: 10px;
  }


  #sub{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-size: 20px;
  }
 
  #subinput{
    height: 24px;
    box-sizing: 50px;
    float:center;
    width: 200px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
  .subbutton{
    float:center;
    background-color: black;
    color: white;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 80px;
    height: 30px;
    cursor: pointer;
  }
  
}